body{
    background-color: rgb(246, 234, 211);
}

header h3{
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 200;
    font-style: normal;
    color: rgb(81, 212, 212);
  }
  
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    background-color:rgb(213, 163, 210);
    color: var(--bg-200);
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

main {
    flex-grow: 1;
}

header{
    background-color: rgb(251, 255, 137);
    padding: 1rem;
    margin:0 0 1rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input, button {
    padding: 10px;
    margin: 10px 0;
}
#taskList {
    list-style-type: none;
    padding: 0;
    background-color: rgb(149, 227, 192);
    border-radius: 1.2rem;
    margin: 1rem;
    padding: 1rem;
}
.task {
    margin: 5px 0;
}

.block{
    display: flex;
    justify-content: space-between;
    border-top: 3px solid rgb(246, 234, 211);
    padding: 1rem;
    color: white;
}

.block h4{
    text-shadow: 0px 0px 10px rgba(25, 40, 60, 0.812);
}

.block input{
    width: 20px;
    height: 20px;
    accent-color: rgb(84, 188, 112);
}

.overlay {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

.modal {
    background-color: rgb(250, 189, 206);
    color: white;
    padding: 3rem 0.5rem 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    max-width: 40rem;
    position: relative;
    min-height: 80vh;
    width: 80%;
}

#closeModal {
    position: absolute;
    top: 0;
    right: 0.5rem;
    cursor: pointer;
    color: white;
    background-color: rgb(81, 212, 212);
}

.modal h2{
    font-size: 1.5rem;
    text-align: center;
}

.modal p{
   
    margin: 0.9rem 0;

}

.modal h3{
margin-top: 1rem;
}

.check {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(3px);
}

.checkInner {
    background-color: rgb(250, 189, 206);
    color: white;
    padding: 3rem 0.5rem 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#closeCheck {
    position: absolute;
    top: 0;
    right: 0.5rem;
    cursor: pointer;
    color: white;
    background-color: rgb(81, 212, 212);
}

#getMoney{
background-color:rgb(251, 255, 137);
padding: 1rem;;
color: rgb(0, 0, 0);
font-family: "Comfortaa", sans-serif;
}   

.wallet{
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(250, 189, 206);
    border-radius: 0.5rem;
}
 
h2{
    margin-left: 1rem;
}

#logout{
    background-color:rgba(213, 163, 210, 0.504) ;
    padding: 1rem;;
    color: rgb(255, 255, 255);
    font-family: "Comfortaa", sans-serif; 
    position: fixed;
    top: 1rem;
    right: 1rem;
}

#logout:hover{
    background-color:rgb(213, 163, 210);
}