#logout {
    background-color: rgba(5, 73, 38, 0.386);
    padding: 1rem;
    ;
    color: rgb(255, 255, 255);
    font-family: "Comfortaa", sans-serif;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

#logout:hover {
    background-color: var(--accent-200);
    ;
}

h1 {
    margin: 1rem;
}

button {
    padding: 1rem;
}

main {
    max-width: 1224px;
    margin: 0 auto;
    width: 100%;
}

#taskList li {
    background-color: var(--primary-200);
    display: flex;
    margin: 1.5rem 0;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--accent-200);

}

.taskInfo {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
}

.buttons {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.childList li {
    background-color: var(--primary-200);
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0;
    padding: 1rem;
    border-radius: 1rem;

}

.info {
    display: flex;
    flex-direction: column;
    color: var(--accent-200);
    justify-content: center;
    gap: 0.5rem;
    flex-grow: 1;

}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px) {
    header {
        font-size: 1.5rem;
    }
}