

#logout{
    background-color: rgba(5, 73, 38, 0.386);
    padding: 1rem;;
    color: rgb(255, 255, 255);
    font-family: "Comfortaa", sans-serif; 
    position: fixed;
    top: 1rem;
    right: 1rem;
}

#logout:hover{
    background-color: var(--accent-200);;
}

h1{
    margin: 1rem;
}

button{
    padding: 1rem;
}

/* #taskList{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    background-color:var(--primary-200);
    border-radius: 0.5rem;
}

#childList{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    background-color:var(--primary-200);
    border-radius: 0.5rem;
} */

li{
    background-color:var(--primary-200); 
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 80%;
}

.taskInfo{
    display: flex;
    
}